div.DTTT_container {
	float: left;
	display: block;
	position: relative;
	margin-bottom: 1em;
}

.dataTables_wrapper {
	/* position: relative; */
	clear: both;
	*zoom: 1;
	zoom: 1;
	width: 99%
}

.box {
	width: 98%;
	height: 300px;
	margin: 1em;
}